#intro {
    background-image: url(../../../../assets/img/fondo.jpg) ;
    height: 110vh;
    background-repeat: no-repeat round;
    background-position: center;
    background-size: cover;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

  .navbar .nav-link {
    color: #fff !important;
  }